[submodule "lib/jerryscript"]
	path = lib/jerryscript
  url = https://github.com/kaluma-project/jerryscript.git
[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = git@github.com:raspberrypi/pico-sdk.git
