[submodule "lib/jerryscript"]
	path = lib/jerryscript
  url = https://github.com/kaluma-project/jerryscript.git
[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "lib/littlefs"]
	path = lib/littlefs
	url = https://github.com/littlefs-project/littlefs.git
